<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Auto Komis</title>
    <script>
        document.getElementById("red").style.backgroundColor="red";
    </script>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">

            <div class="col-sm-11">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-sm-1">Id</th>
                        <th class="col-sm-2">Nazwa</th>
                        <th class="col-sm-2">Email</th>
                        <th class="col-sm-2">Data:</th>
                        <th class="col-sm-2">Info</th>
                        <th class="col-sm-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userList}" th:if="(*{user.username} != ${yourUsername})">
                        <td class="col-sm-1" th:if="(*{user.removed} == null)"  th:text="*{user.id}"></td>
                        <td class="col-sm-2" th:if="(*{user.removed} == null)"  th:text="*{user.username}"></td>
                        <td class="col-sm-2" th:if="(*{user.removed} == null)"  th:text="*{user.email}"></td>
                        <td class="col-sm-2" th:if="(*{user.removed} == null)"  th:text="${#dates.format(user.added, 'dd-MMM-yyyy')}"></td>
                        <div th:if="(*{user.removed} == null)" ><td class="col-sm-2" id="red"  th:if="(*{user.personId} == null)" style="color: palevioletred" >BRAK DANYCH</td></div>
                        <div th:if="(*{user.removed} == null)"><td class="col-sm-2" id="red"  th:if="(*{user.token}=='banned')" style="color: palevioletred" >ZBANOWANE</td></div>

                        <div th:if="(*{user.removed} == null)"><td class="col-sm-2" id="red"  th:if="(*{user.token}!='banned')" style="color: palevioletred" ></td></div>


                        <div th:if="(*{user.removed} == null)" ><td class="col-sm-2" th:if="(*{user.personId} != null)"></td></div>
                        <td class="col-sm-2" th:if="(*{user.removed} == null)" >
                        <a th:href="@{/userList/details(id=${user.id})}">
                            <button type="button" class="btn btn-success">Szczegóły</button>
                        </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>
</html>