<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
>
<head>
    <title>Auto Komis</title>
</head>
<body>
<div layout:fragment="content">

    <h3 th:if="${message}"> Brak informacji</h3>

    <div class="row" th:if="(${userDetails.name} != null)">
        <div class="col-sm-11">
            <div class="col-sm-2"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="list-group">
                        <div href="#" class="list-group-item list-group-item-success">Szczegóły uzytkownika</div>

                        <table class="table table-striped">
                            <thead>
                            <tr></tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>Nick: </strong></td>
                                <td class="col-sm-2" th:text="${userList.username}"></td>
                            </tr>
                            <tr>
                                <td><strong>Email: </strong></td>
                                <td class="col-sm-2" th:text="${userList.email}"></td>
                            </tr>
                            <tr>
                                <td><strong>Imię: </strong></td>
                                <td class="col-sm-2" th:text="*{userDetails.name}"></td>
                            </tr>
                            <tr>
                                <td><strong>Nazwisko: </strong></td>
                                <td class="col-sm-2" th:text="*{userDetails.surname}"></td>
                            </tr>
                            <tr>
                                <td><strong>Adres: </strong></td>
                                <td class="col-sm-2" th:text="*{userDetails.adress}"></td>
                            </tr>
                            <tr>
                                <td><strong>Pesel: </strong></td>
                                <td class="col-sm-2" th:text="*{userDetails.pesel}"></td>
                            </tr>
                            <tr>
                                <td><strong>Nip: </strong></td>
                                <td class="col-sm-2" th:text="*{userDetails.nip}"></td>
                            </tr>
                            <tr>
                                <td><strong>Role: </strong></td>
                                <td></td>
                            </tr>
                            <tr th:each="role : ${roleList}">
                                <td></td>
                                <td class="col-sm-2"  th:text="*{role.name}"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>


                    <button  class="btn btn-success">MODYFIKUJ</button>

                    <button type="button" data-toggle="modal" data-target="#myModal"  class="btn btn-danger">USUŃ</button>

                    <button type="button" data-toggle="modal" data-target="#myModalSecond" class="btn btn-warning">ZBANUJ</button>

                    <a th:href="@{/userList}">
                        <button type="button" class="btn btn-success">POWRÓT</button>
                    </a>

                    <!-- Modal content-->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Czy usunąć uzytkownika</h4>
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/userList/details/delete(id=${userList.id})}">
                                        <button type="button" class="btn btn-danger">Potwierdź</button>
                                    </a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Odrzuć</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End modal content-->

                    <!-- Modal content-->
                    <div class="modal fade" id="myModalSecond" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Czy zbanować uzytkownika</h4>
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/userList/details/block(id=${userList.id})}">
                                        <button type="button" class="btn btn-danger">Potwierdź</button>
                                    </a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Odrzuć</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End modal content-->







                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>