<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Auto Komis</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron pager">
                <h2>Page Not Found <small class="text-danger">Error 404</small></h2>
                <br />
                <a href="#" th:href="@{/}" class="btn btn-large btn-danger"><span class="glyphicon glyphicon-home" aria-hidden="true"> POWRÓT</span></a>
            </div>
            <br />
        </div>
    </div>
</div>
</body>
</html>