<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      >
<head>
    <title>Auto Komis</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row" th:object="${carDetail}">
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-6" style="padding: 10px">
                    <img class="img-thumbnail" width="400" height="250" th:src="'/images/'+ *{id} +'.jpg'"/>
                </div>
                <div class="col-sm-6">
                    <div class="list-group">
                        <div href="#" class="list-group-item list-group-item-success">Szczegóły pojazdu</div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <td><strong>Marka: </strong></td>
                                <td class="col-sm-2" th:text="*{mark}"></td>
                            </tr>
                            <tr>
                                <td><strong>Model: </strong></td>
                                <td class="col-sm-2" th:text="*{model}"></td>
                            </tr>
                            <tr>
                                <td><strong>Rok: </strong></td>
                                <td class="col-sm-2" th:text="*{year}"></td>
                            </tr>
                            <tr>
                                <td><strong>Przebieg: </strong></td>
                                <td class="col-sm-2" th:text="*{distance}"></td>
                            </tr>
                            <tr>
                                <td><strong>Rodzaj silnika: </strong></td>
                                <td class="col-sm-2" th:text="*{engine}"></td>
                            </tr>
                            <tr>
                                <td><strong>Rodzaj paliwa: </strong></td>
                                <td class="col-sm-2" th:text="*{fuelType}"></td>
                            </tr>
                            <tr>
                                <td><strong>Rodzaj skrzyni: </strong></td>
                                <td class="col-sm-2" th:text="*{gearBox}"></td>
                            </tr>
                            <tr>
                                <td><strong>Moc silnika: </strong></td>
                                <td class="col-sm-2" th:text="*{horsePower}"></td>
                            </tr>
                            <tr>
                                <td><strong>Nr VIN: </strong></td>
                                <td class="col-sm-2" th:text="*{liabilityNumber}"></td>
                            </tr>
                            <tr>
                                <td><strong>Opis: </strong></td>
                                <td class="col-sm-2" th:text="*{description}"></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <!-- Modal content-->
                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger" th:if="(${carDetail.agreementType} == '3')" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_EMPLOYEE', 'ROLE_MECHANIC')">SPRZEDAŻ</button>
                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger" th:if="(${carDetail.agreementType} == '2')" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_EMPLOYEE', 'ROLE_MECHANIC')">SPRZEDAŻ</button>
                    <a th:href="@{/carsList}">
                    <button type="button" class="btn btn-success">POWRÓT</button>
                    </a>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Przeniesienie do Archiwum</h4>
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/carsList/sold(id=*{id})}">
                                        <button type="button" class="btn btn-danger">Potwierdź</button>
                                    </a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Odrzuć</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End modal content-->
                    <h4 style="text-decoration: underline; color: mediumvioletred"><span th:if="(${carDetail.agreementType} == '1')">POJAZD SPRZEDANY</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>