<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Auto Komis</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">

        <div class="col-sm-11">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-sm-3">ZDJĘCIE</th>
                    <th class="col-sm-2">MARKA</th>
                    <th class="col-sm-2">MODEL</th>
                    <th class="col-sm-2">ROK</th>
                    <th class="col-sm-2">CENA</th>
                    <th class="col-sm-2"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car : ${carList}">
                    <td class="col-sm-3"  style="vertical-align: middle"><img width="120" height="70" th:src="'/images/'+${car.id}+'.jpg'"/></td>
                    <td class="col-sm-2" style="vertical-align: middle" th:text="${car.mark}"></td>
                    <td class="col-sm-2" style="vertical-align: middle"  th:text="${car.model}"></td>
                    <td class="col-sm-2" style="vertical-align: middle" th:text="${car.year}"></td>
                    <td class="col-sm-2"  style="vertical-align: middle"><h4 th:text="${#numbers.formatDecimal(car.amount,3,'POINT',0,'COMMA')} + ' zł'"></h4></td>
                    <td class="col-sm-2"  style="vertical-align: middle">

                        <!-- Details cars to sell -->
                        <a th:href="@{/carsList/details(id=${car.id})}">
                            <button type="button" class="btn btn-success" th:if="(${car.agreementType} == '2')">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </button>
                        </a>

                        <a th:href="@{/carsList/details(id=${car.id})}">
                            <button type="button" class="btn btn-success" th:if="(${car.agreementType} == '3')">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </button>
                        </a>

                        <!-- Details of sold cars -->
                        <a th:href="@{/carsList/details(id=${car.id})}">
                            <button type="button" class="btn btn-danger" th:if="(${car.agreementType} == '1')">SPRZEDANY</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>